---
import Container from "../shared/Container.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="mx-auto lg:mx-0 p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl bg-box-bg border border-box-border shadow-lg  shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-xl text-heading-1"
        >
          2-10% -> 0%
        </h2>
        <p class="mt-2 text-heading-3">CPU Usage</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-xl text-heading-1"
        >
          ‎  ‎ ‎ ‎ ‎ 98.51 -> 253.98 FPS
        </h2>
        <p class="mt-2 text-heading-3">‎ ‎ ‎ Fornite FPS</p>
      </div>

      <div class="text-right">
        <h2
          class="font-semibold text-xl sm:text-4xl md:text-xl text-heading-1"
        >
          217.5 -> 365.91 FPS
        </h2>
        <p class="mt-2 text-heading-3">Valorant FPS‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ </p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-xl text-heading-1"
        >
          2.9GB -> ~1.4GB
        </h2>
        <p class="mt-2 text-heading-3">RAM Usage</p>
      </div>
    </div>
  </Container>
</section>
